@import "./_fonts.scss";

.controls {
    padding: 10px;
}

.number {
    font-family: $sourceCodePro;
}

.control {

    padding: 0 0 10px;

    label {
        display: block;
    }

    .label,
    .radio {
        font-size: 12px;
        text-transform: uppercase;
    }

    .radio {
        padding: 0 4px;
    }

    &.control--blink-status {

        .label {
            margin-bottom: 10px;
        }

        .radio {
            display: inline-block;
        }
    }

    .label--brackets {
        position: relative;
        display: block;
        padding: 2px 10px;
        text-align: center;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 4px;
            border: 1px solid #ccc;
            content: "";
        }

        &::before {
            left: 0;
            border-right: 0;
        }

        &::after {
            right: 0;
            border-left: 0;
        }
    }

    select {
        width: 100%;
    }
}

.checkbox-control {
    white-space: nowrap;
}
