
.debug-timeline {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 10px;
    color: black;
    background-color: rgba(#fff, 0.9);
    border-top: 1px solid #303030;
}
