@import "./_fonts.scss";

.firefly text {
    font-family: $sourceCodePro;
    fill: #999;
}

.firefly__light {
    cursor: pointer;
    transition: fill 250ms;
}

.firefly__signal-radius {
    pointer-events: none; // allow click through
}
